form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.doc-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.upper-div {
  width: 45%;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#title-input {
  width: 45%;
  background-color: #F2F2F2;
  border: none;
  font-size: 20px;
}

#content-input {
  padding: 60px;
  width: 45%;
  height: 700px;
  resize: vertical;
  margin: 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1em;
  line-height: 1.5em;
}

#icon-div {
  width: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icon {
  width: 25px;
  height: 25px;
  color: #444444;
  cursor: pointer;
}

.icon:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
