.home-div {
  padding: 0 50px;
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.sign-in-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  width: 250px;
  height: 380px;
  margin: 50px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#sign-in-form {
  margin-top: 0;
}

#new-user-btn {
  width: 70%;
  height: 40px;
  padding: 12px 20px;
  margin: 8px 0 0 37px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#sign-out-btn {
  width: 70%;
  height: 40px;
  padding: 12px 20px;
  margin: 50px 0 0 37px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#new-user-btn:hover, #sign-out-btn:hover {
  background-color: #e1e1e1;
  cursor: pointer;
}

.message {
  color: red;
  margin-left: 37px;
  font-size: 14px;
}

input[type=text], input[type=password] {
  width: 70%;
  height: 40px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 70%;
  height: 40px;
  background-color: #1d228c;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #373ebf;
}

#deregister-btn {
  width: 70%;
  height: 40px;
  padding: 12px 20px;
  margin: 10px 0 0 37px;
  display: inline-block;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #d32b2b;
  color: #ffffff;
  cursor: pointer;
}

#deregister-btn:hover {
  background-color: #b62525;
}
